streamlit
opencv-python-headless
mediapipe
deepface; python_version < "3.13"
tensorflow==2.20.0; python_version < "3.13"
tf-keras==2.20.1; python_version < "3.13"
Flask
Flask-Login
Flask-SQLAlchemy
Flask-SocketIO
